---
- hosts: localhost
  tasks:
    - block:
        - import_role: name=emit-job-header
        - import_role: name=log-inventory
      vars:
        zuul_log_url: "https://softwarefactory-project.io/logs"

- hosts: all
  tasks:
    - block:
        - include_role: name=validate-host
        - include_role: name=prepare-workspace
        - include_role: name=add-build-sshkey
      when: "ansible_connection != 'kubectl'"
    - block:
        - include_role: name=prepare-workspace-openshift
        - include_role: name=remove_zuul_sshkey
      run_once: true
      when: "ansible_connection == 'kubectl'"
    - import_role: name=ensure-output-dirs
      when: ansible_user_dir is defined

    - name: Enable EPEL9
      ansible.builtin.dnf:
        name:
          - epel-release
          - epel-next-release
        state: present
